
<% post.comments.forEach(function(comment) { %> 
<div class="row bootstrap snippets">
    <div class="col-md-6 col-md-offset-2 col-sm-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                    <ul class="media-list">
                        <li class="media">
                           <div class="media-body">
                                <strong class="text-success"> <%= comment.author.username %> </strong>
                                <span class="text-muted pull-right">
                                    <small class="text-muted"> <%= comment.formated_date %>  </small>
                                </span>
                                <p>
                                    <%= comment.text %>  
                                </p>
                                <a class="btn btn-xs btn-warning" href="/post/<%=post._id%>/comment/<%=comment._id%>/edit" method="get">Edit</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<% }); %> 
<% var link = "/comment/" + post._id %> 
<form action= <%= link %> method="post"> 
    <div class="form-group" id="comment">
            <label for="comment">Comment</label>
              <input type="text"  class="form-control" placeholder="Your opinion?" name="comment" id="comment" required>  </input>
        </div>
    <button type="submit" class="btn btn-default" id="submit">Submit</button>
  </form>