<% include partials/header_blog %>
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <% posts.forEach(function(post) { %> 
          <div class="post-preview">
            <% postUrl = "/blog/post/" + post._id; %> 
            <a href= <%= postUrl %> action="get">
              <h2 class="post-title">
              <%= post.title %> 
              </h2>
              <h3 class="post-subtitle">
                <%= post.description %> 
              </h3>
            </a>
            <p class="post-meta">Posted by Se Jin</a>
              on <%=post.formated_date %>
           </p>
          </div>
          <% }); %> 
          <!-- Pager -->
          <div class="clearfix">
            <% nextUrl = "/blog/page/" + page; %> 
            <% if(!isEndPage) { %> 
            <a class="btn btn-primary float-right" href = <%= nextUrl %> method="get" </a>>Older Posts &rarr;</a>
            <% } %> 
          </div>
        </div>
      </div>
    </div>

    <hr>


<% include partials/footer_blog %>
