<% include partials/header_blog %>
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <% for(let i = first ; i <= last ; i++ )  { %> 
             <% var date = posts["post" + i]["data"]; %> 
             <% var post_id = "/blog/post/" + i %>
            <a href= <%=post_id %>  action="get">
              <h2 class="post-title">
                  <%= posts["post" + i]["title"] %>
               </h2>
              <h3 class="post-subtitle">
                 <%= posts["post" + i]["description"] %>
              </h3>
            </a>
            <p class="post-meta">Posted by Se Jin</a>
            on  <%= posts["post" + i]["data"] %>
           </p>
            <% } %>
          </div>
          <% if(next)  { %>
          <!-- Pager -->
          <div class="clearfix">
              <% var nextP = last + 5; %> 
              <% var nextPage = "/post/" + last + "/" + nextP; %>
             
            <a class="btn btn-primary float-right" href= <%= nextPage %>  >Older Posts &rarr;</a>
              <% } %> 
          </div>
        </div>
      </div>
    </div>

    <hr>


<% include partials/footer_blog %>
