<% include partials/post_header %>
    <!-- Page Header -->
    <% var imageUrl ="/images/" + post.image %>
    <header class="masthead" style="background-image: url('<%=imageUrl%>')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1><%= post.title%></h1>
              <h2 class="subheading"> <%= post.description %></h2>
              <span class="meta">Posted by
                <a href="#"> Se Jin Lee</a>
                on <%= post.formated_date %> </span>
            </div>
          </div>
        </div>
      </div>
    </header>
<%- include("posts/"+ post.formated_date) %>
<% include partials/comment %> 
<% include partials/post_footer %>
